@tailwind base;
@tailwind components;
@tailwind utilities;

.form-label {
  @apply text-white font-medium font-jost text-xl;
}

.transactions-list-scrollbar::-webkit-scrollbar {
  @apply w-[10px];
}

.transactions-list-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-indigo-500 rounded-[20px];
}

.transactions-list-scrollbar::-webkit-scrollbar-track {
  @apply bg-[#38347c] rounded-[20px];
}

.fade-in {
  animation: fade-in 1s 1 forwards ease-out;
}

.app-title {
  @apply text-[28px] text-center font-bold font-jost text-white;
}

.auth-loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.auth-loading-box {
  padding: 16px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
}

@keyframes fade-in {
  from {
    @apply opacity-0;
  }

  to {
    @apply opacity-100;
  }
}
